@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
label { 
    font-size: xx-large;
    font-family: 'Arima Madurai', cursive;
}
button{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: grey;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

p { 
    font-size: 40px;
}

img {
    width: 150px;
}

body { 
    background-color: gray;

}


img { 
    max-width: 100%;
    height: auto;
    
}

p { 
    padding: 1em;
}